<strong>Olá, {{ student }}</strong>
<p>Muito obrigado por se matricular na Gympoint! Seja muito bem vindo(a)</p>
<p>Aqui estão as informações de sua matricula:</p>
<p>
  <strong>Data de Inicio: </strong>{{ start_date }} <br>
  <strong>Date de término: </strong>{{ end_date }} <br>
  <strong>valor: </strong>{{ price }} <br>
  <br>
</p>
